body {
    display: flex;
    justify-content: center;
}

fieldset {
    padding: 0 90px 30px;
    display: flex;
    flex-direction: column;
    align-self: center;
}

p {
    margin: 0;
    margin-bottom: 3px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.info {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 10px;
}

.entry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs {
    display: flex;
}

.choice {
    display: flex;
    margin: 0 5px;
}

.comments label {
    align-items: flex-start;
}

.boxes {
    display: flex;
    flex-direction: row;
    width: 250px;
    justify-content: space-between;
}
